

main{
  width: 100%;
  background-color: #eef0f4;
  display: flex;
  gap: 10px;

}

#filter{
-webkit-box-shadow: 10px 10px 50px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 50px -8px rgba(0,0,0,0.75);
box-shadow: 10px 10px 50px -8px rgba(0,0,0,0.75);
background-color:white;
margin: 15px;
width: 30%;
border-radius: 10px;
/* border: 2px solid black; */
height: 80vh;
display: flex;
justify-content: center;
align-items: start;
padding-top: 30px;
background-image: url("./assets/back.jpg");
background-repeat: no-repeat;
background-size: cover;

}
.box-filter{
  /* border: 2px solid black; */
  background-color: #fafdff;
  gap: 15px;
  width: 70%;
  border-radius: 20px;
  padding: 10px 0px 10px 0px;
}

.fil-top{
  /* border: 2px solid black; */
  border-bottom: 1px solid black;
  text-align: center;
  padding: 5px;
  width: 100%;
}
.fil-top > h4{
 font-size: 15px;
 font-weight: 700;
}
.fil-mid{
  /* border: 2px solid black; */
  padding: 10px;
  width: 100%;
  gap: 5px;
}
.fil-mid > input{
 padding: 5px;
 text-align: center;
 width: 80%;
 border-radius: 5px;
 border: 0.5px solid black;
 
}
.fil-mid > select{
  padding: 5px;
  width: 80%;
  border-radius: 5px;

  
 }

.filt-boton{
  /* border: 2px solid black; */
  padding: 10px;
  width: 100%;
  text-align: center;
  gap: 10px;
}
.button1{
  padding: 5px;
  border: none;
  border-radius: 20px;
  width: 90%;
  background-color: rgb(126, 248, 126);
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.button2{
  padding: 5px;
  border: none;
  border-radius: 20px;
  width: 90%;
  background-color: rgb(253, 40, 40);
  color: white;
  font-weight: 600;
  cursor: pointer;
  
}


